.login-main {
    display: flex;
    justify-content: center;
    align-items: flex-start; /* Align items to the start */
    background-color: var(--white);
    color: var(--red);
    padding-top: 200px; /* Add padding to the top */
}

.login-content {
    padding: 20px;
    width: 35vh;
    justify-content: center;
}

.login {
    background-color: var(--white);
    border: 1px solid var(--red);
    padding: 40px 20px;
    border-radius: 5px;
    width: 100%;
    max-width: 400px;
}

.login div {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.login span {
    margin-right: 10px;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid var(--red);
    border-radius: 0;
    background-color: var(--white);
}

button {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border: 1px solid var(--red);
    background-color: var(--white);
    color: var(--red);
    cursor: pointer;
}

button:hover {
    background-color: var(--red);
    color: var(--white);
}


.login-form {
    padding-bottom: 0.8rem;
}

.login-form input {
    padding: 1rem; /* Increased padding */
    border: 1px solid #ddd;
    border-radius: 5px;
    align-self: center;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 2.7rem;
  }


.login-form input:focus {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-color: none; /* Change the border color to blue */
    outline: none; /* Remove the default outline */
  }

.buttons {
    justify-content: center;
}


.buttons {
    display: flex;
    justify-content: center;
  }

.login-button {
    font-size: 1.2em;
    width: 3.8rem;
    padding: 0px;
    border: none;
    background: none;
    color: var(--red);
    cursor: pointer;
}

.create-button {
    font-size: 1.2em;
    width: 4rem;
    padding: 0px;
    margin-left: 3rem;
    border: none;
    background: none;
    color: var(--red);
    cursor: pointer;
}

.create-button:hover {
    color: #666;
    background: none;
  }

.login-button:hover {
    color: #666;
    background: none;
}



.subscribe-form button {
    padding: 1rem; /* Increased padding */
    border: none;
    border-radius: 5px;
    background: none;
    color: var(--red);
    cursor: pointer;
  }
  
  .subscribe-form button:hover {
    color: #666;
    background: none;
  }